<div class="st-search-box hidden-desktop">
  <input type="search" autocomplete="off" placeholder="" name="st" id="st-search-mobile" class="st-search-input">        
</div>
<style>
  .st-search-box.hidden-desktop {
    opacity: 0;
    position: absolute; 
    top: -9999px; 
    left: -9999px;
    padding: 0 17px 7px;
}
</style>